@font-face {
  font-family: 'NanumBarunpenR';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/NanumBarunpenR.otf'), url('../fonts/NanumBarunpenR.ttf');
}

@font-face {
  font-family: 'NanumBarunpenB';
  font-weight: bold;
  src: url('../fonts/NanumBarunpenB.otf'), url('../fonts/NanumBarunpenB.ttf');
}
* {
  font-family: 'NanumBarunpenR';
  letter-spacing: 0.5px;
}

.v-main__wrap h1 {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  background: #eee;
}

.content-view {
  width: 100%;
  padding: 20px 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
