@font-face {
  font-family: 'NanumBarunpenR';
  src: url('../fonts/nanumbarunpenr-webfont.woff2') format('woff2'),
    url('../fonts/nanumbarunpenr-webfont.woff') format('woff');
}

* {
  font-family: 'NanumBarunpenR';
  letter-spacing: 0.5px;
}

.v-main__wrap h1 {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  background: #eee;
}

.content-view {
  width: 100%;
  padding: 20px 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
